<%- include('includes/head') %>
<%- include('includes/nav') %>

    <div class="container">
        <div class="row">
            <div col="col-lg-2"></div>
            <div col="col-lg-8">
                <h1 class="display-1 text-center my-5">Erro 404</h1>
               
                  
                <h1 class="text-center lead">A página que voçê procura não existe</h1>
            </div>
            <div col="col-lg-2"></div>
        </div>
    </div>
<%- include('includes/footer') %>