<%- include('includes/head') %>
<%- include('includes/nav') %>
    <h1>Hello, world!</h1>
    <div class="container">
        <div class="row">
            <div col="col-lg-2"></div>
            <div col="col-lg-8">
                <h1 class="display-1 text-center my-3">Agenda</h1>
                <p class="text-center lead">A página que voçê procura não existe</p>

                <div class="row">
                    <div class="col">
                        <div class="alet-danger">Um erro qualquer</div>
                    </div>
                </div>
                <div class="responsive-table">
                    <table class="table my-3">
                        <tr>
                            <td>Luiz</td>
                            <td>Otávio</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div col="col-lg-2"></div>
        </div>
    </div>
<%- include('includes/footer') %>
   